html {
  font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E8E8E8;
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100px;
    background-color: #092532;
    color: #ffffff;
}

h1 {
  font-size: 3.5rem;
  font-weight: 100;
}

h4, p {
  font-size: 1.5rem;
  font-weight: 100;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

header .navigation {
    display: flex;
}

header .navigation .photoPerfil {
    margin: auto 5px;
    margin-left: 150px;
}

header .navigation .photoPerfil img {
    border-radius: 50%;
    border: 2px solid #70707021;
}

header .navigation h3 {
    display: inline-block;
    font-size: 2rem;
    height: fit-content;
    margin: 0;
    margin-top: 10px;
    width: 70px;
    line-height: 133%;
    font-weight: 300;
}

header .navigation h4 {
    position: relative;
    top: 60px;
    margin: 0;
    left: -70px;
    line-height: 126%;
    height: fit-content;
}

header .menuNav{
    display: flex;
    justify-content: flex-end;
}

header .menuNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header .menuNav ul li {
    margin-right: 30px;
}

header .menuNav ul li a {
    font-weight: 500;
    font-size: 2.5rem;
}

header .menuNav ul li .hoverLine:hover {
    text-decoration: underline;
    text-decoration-color: #89c9b8;  
}

header .menuNav ul li .hoverBorder:hover {
    border-radius: 25px;
    border: 1px solid #707070;
    background-color: #707070;
    padding: 5px 15px;
    color: #ffc7c7;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  max-width: 1300px;
  margin: auto;
}

.hero .containerHero {
  min-width: 768px;
  margin: 0 auto;
  display: inherit;
  flex-wrap: inherit;
  justify-content: inherit;
}

.hero .containerHero h1 {
  height: max-content;
  width: max-content;
}

.hero .containerHero div {
  position: absolute;
  bottom: 340px;
}

.hero .containerHero div i {
  font-size: 50px;
  padding-right: 20px;
}

.icon-3d {
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
}

.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1);
  }
  25% {
    text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);
  }
  50% {
    text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
  }
  75% {
    text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
  }
  100% {
    text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);
  }
}

.buttonAboutMe {
  display: flex;
  justify-content: center;
}

.buttonAboutMe a {
  padding: 25px 60px;
  border-radius: 50px;
  background-color: #09253224;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
}

.buttonAboutMe a::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: 'ABOUT ME';
  width: 100%;
  height: 100%;
  background-color: #092532;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  color: #ffc7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAboutMe a:hover::before {
  width: 25%;
  content: '';
}

.mainAboutMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.mainAboutMe .containerMainAboutMe {
  min-width: 1000px;
  margin: 0 10%;
  display: inherit;
  justify-content: inherit;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText {
  margin: auto;
  margin-left: 50px;
  width: fit-content;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText h1 {
  color: #2A2C2C;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 10px;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText h4 {
  font-size: 5rem;
  color: #2a2c2c4d;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 10px;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText p {
  color: #2a2c2c;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin: 0;
  padding: 10px;
  line-height: 2.5rem;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText .buttonHireMe {
  display: inline-block;
  padding: 25px 60px;
  border-radius: 45px;
  background-color: #09253226;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText .buttonHireMe::before {
  position: absolute;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: 'HIRE ME';
  width: 100%;
  height: 100%;
  background-color: #092532;
  top: 0;
  left: 0;
  border-radius: 50px;
  color: #ffc7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText .buttonHireMe:hover::before {
  width: 0%;
  content: '';
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText .buttonProject {
  display: inline-block;
  padding: 25px 60px;
  border-radius: 45px;
  background-color: #70707029;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-left: 40px;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText .buttonProject a {
  color: #092532;
}

.mainAboutMe .containerMainAboutMe .containerMainAboutMeText .buttonProject:hover {
  background-color: #70707080;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 400px));
  justify-content: center;
  grid-gap: 20px;
}

.portfolio .project {
  overflow: hidden;
  border-radius: 15px;
  background-color: #ffffff;
  height: fit-content;
  padding-bottom: 20px;
}

.portfolio .project .projectDetails .project-imageContainer {
  margin: 0;
}

.portfolio .project .projectDetails .project-imageContainer img {
  width: 100%;
  object-fit: cover;
}

.portfolio .project .projectDetails .projectDescriptionText {
  position: relative;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.portfolio .project .projectDetails .projectDescriptionText .projectDescriptionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .project .projectDetails .projectDescriptionText .projectDescriptionTitle h4, p {
  font-weight: 300;
  line-height: 20px;
  margin: 0;
}

.portfolio .project .projectDetails .projectDescriptionText .project-description {
  margin-bottom: 20px;
}

.portfolio .project .projectDetails .projectDescriptionText a {
  padding: 15px 40px;
  border-radius: 45px;
  background-color: #092532;
  color: #89C9B8;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.portfolio .project .projectDetails .projectDescriptionText a:hover {
  background-color: #09253226;
  color: #092532;
}

.containerPortfolio {
  width: 100vw;
}

.containerPortfolio h1 {
  text-align: center;
  font-weight: 400;
  color: #2A2C2C;
  padding: 15px;
  margin-bottom: 15px;
}

.containerPortfolio .buttonContact {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.containerPortfolio .buttonContact a {
  padding: 25px 60px;
  border-radius: 45px;
  background-color: #70707029;
  color: #092532;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.containerPortfolio .buttonContact a:hover {
  background-color: #70707080;
}

.contact { 
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.contact .containerContact {
  width: 60%;
  height: fit-content;
  background-color: #092532;
  border-radius: 15px;
  color: #ffffff;
  padding: 20px 60px;
}

.contact .containerContact h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 10px 20px;
}

.contact .containerContact h3 {
  font-weight: 300;
  margin: 0;
  padding: 10px 20px 40px 20px;
}

.contact .containerContact p {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 15px 5px 5px 20px;
  margin: 0;
}

.contact .containerContact form {
  padding: 0 20px;
  width: max-content;
}

.contact .containerContact form input {
  width: 350px;
  border-radius: 20px;
  font-size: 1rem;
  padding: 20px;
  background-color: #E9E9E9;
  border: 0;
}

.contact .containerContact form .inputRequest {
  padding-bottom: 70px;
}

.contact .containerContact form button {
  display: block;
  padding: 15px 35px;
  border-radius: 45px;
  background-color: #89C9B8;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  border: 0;
}

.contact .containerContact form button:hover {
  background-color: #89c9b880;
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #092532;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer a {
  text-decoration: underline;
}

footer p {
  padding: 20px 50px;
  margin: 0;
}

.burger-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #84c3b380;
  text-align: center;
  position: fixed;
  z-index: 3;
  left: 5px;
  top: 20px;
  display: none;
}